*~
*#*

# CABAL
/dist
/cabal-dev
/.cabal-sandbox
/cabal.sandbox.config

# Haskell Program Coverage
/.hpc

# Leksah
*.lkshs

# Intellij IDEA
/.idea

# darcs
/_darcs

# ctags
TAGS

# sbt
/project
/target

*.swp

dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virtualenv
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
cabal.config
*.prof
*.hp
*.aux
